{% extends "base.html" %}
{% block content %}
<h2>Prijava</h2>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<form method="post">
    <p>
        <label>Uporabniško ime:<br>
            <input type="text" name="username" required>
        </label>
    </p>
    <p>
        <label>Geslo:<br>
            <input type="password" name="password" required>
        </label>
    </p>
    <p>
        <button type="submit">Prijava</button>
    </p>
    <p>
        Nimaš računa? <a href="{{ url_for('register') }}">Registracija</a>
    </p>
</form>
{% endblock %}
