{% extends "base.html" %}
{% block content %}
<h2>Registracija</h2>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<form method="post">
    <p>
        <label>Uporabniško ime:<br>
            <input type="text" name="username" required>
        </label>
    </p>
    <p>
        <label>Geslo:<br>
            <input type="password" name="password" required>
        </label>
    </p>
    <p>
        <button type="submit">Ustvari račun</button>
    </p>
    <p>
        Že imaš račun? <a href="{{ url_for('login') }}">Prijava</a>
    </p>
</form>
{% endblock %}
